
.footer-link-area {
    text-align: center;
}

a.social-link {
    margin: 5px;
    text-decoration: none;
    color: #e8e8e8;
}

.social-link:hover {
    color: #c1c1c1;
}

.img-social-link {
    background-image: url("https://nurio.me/assets/img/mal-icon-b.png");
    background-size: 0.875em 0.875em;
    margin-bottom: 0.245em;
}

.img-social-link:hover {
    background-image: url("https://nurio.me/assets/img/mal-icon.png");
}