/* Footer */

.blog-footer {
    padding: 25px 0px;
    color: #f8f8f8;
    text-align: center;
    background-color: #2090d4;
    border-top: 2px solid #f9f9f9;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.footer-link-area {
    text-align: center;
}

a.footer-link {
    margin: 5px;
    text-decoration: none;
    font-size: 50px;
    color: #e8e8e8;
}

.footer-link:hover {
    color: #c1c1c1;
}

.img-footer-link {
    background-image: url("https://nurio.me/assets/img/mal-icon-b.png");
    background-size: 44px 44px;
    margin-bottom: 12.6px;
}

.img-footer-link:hover {
    background-image: url("https://nurio.me/assets/img/mal-icon.png");
    background-size: 44px 44px;
    margin-bottom: 12.6px;
}