#content {
    background-color: aliceblue;
    min-height: calc(100% - 212px);
    background-color: #f9f9f9;
    border-top: 2px solid #f9f9f9;
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}